{
  "prettier.printWidth": 100,
  "prettier.tabWidth": 4,
  "prettier.Tabs": false,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.trailingComma": "none",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always"
}
