{
  "prettier.printWidth": 80,
  "prettier.tabWidth": 4,
  "prettier.Tabs": false,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.trailingComma": "none",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}
